<div class="d-flex">
  <span
    class="d-flex align-items-center justify-content-center"
    style="width: 50px"
  >
    <a
      (click)="abrirModal(idModal)"
      title="Mostrar opciones de filtros"
      class="btn btn-outline-secondary"
      href="javascript:void(0)"
      role="button"
      ><i class="fas fa-plus"></i
    ></a>
  </span>
  <span
    class="mr-3 text-center d-flex align-items-center justify-content-center"
    style="width: 50px"
  >
    <i *ngIf="!buscando" class="fas fa-search"></i>
    <i *ngIf="buscando" class="fas fa-sync fa-spin"></i>
  </span>

  <input
    #inputBuscador
    (keyup.enter)="buscador(inputBuscador.value)"
    class="form-control me-2"
    type="search"
    placeholder="Buscar documento"
    aria-label="Buscar"
    [disabled]="buscando"
  />
</div>

<codice-modal [id]="idModal">
  <div class="row">
    <div class="col-12">
      <h1>Opciones de filtros</h1>
      <hr />
    </div>
  </div>

  <ng-container *ngFor="let opcion of opciones">
    <div class="form-check form-switch">
      <input
        [(ngModel)]="opcion.seleccionado"
        class="form-check-input"
        type="checkbox"
        [id]="opcion.opcion + '_filtro'"
      />
      <label class="form-check-label" for="flexSwitchCheckDefault">{{
        opcion.descripcion
      }}</label>
    </div>
  </ng-container>
</codice-modal>
