<div class="row">
  <div class="col-12">
    <h1>
      {{ documento?.nombre }}
      <a
        (click)="agregarPunto()"
        class="btn btn-primary"
        href="javascript:void(0)"
        role="button"
      >
        <i class="fas fa-plus-circle"></i>
        Punto
      </a>
    </h1>
  </div>
  
  <div class="col-12"><hr /></div>

  <div *ngFor="let punto of puntos" class="col-12">
    <app-punto-crud
      [datos]="punto"
      (guardado)="guardado($event)"
      (eliminado)="eliminado($event)"
    ></app-punto-crud>
  </div>
</div>
