<div class="row">
  <div class="col-12">
    <h1>
      Documentos
      <a
        (click)="crear()"
        class="btn btn-primary"
        href="javascript:void(0)"
        role="button"
        ><i class="fas fa-plus-circle"></i> Nuevo documento</a
      >
    </h1>
    <hr />

    <ng-container *ngIf="!cargando; else precarga">
      <div
        *ngFor="let documento of documentosBusqueda.documentos"
        class="col-12 mb-3 fade-in"
      >
        <app-documento-crud
          [datos]="{
            documento: documento,
            termino: documentoService.filtros.terminos
          }"
          (eliminado)="eliminado($event)"
          (guardado)="guardado($event)"
        >
        </app-documento-crud>
        <hr />
      </div>
    </ng-container>
  </div>
</div>

<div *ngFor="let clave of clavesResultadoBusqueda" class="row">
  <div class="col-12">
    <h5>{{ clave.titulo }}</h5>
    <p class="text-muted">
      {{ clave.descripcion }}
      <span class="text-info font-bold">
        Total elementos: {{ documentosBusqueda[clave.key + "_total"] | number }}
      </span>
    </p>
    <hr />

    <div
      *ngFor="let doc of documentosBusqueda[clave.key]"
      class="col-12 mb-3 fade-in"
    >
      <app-documento-crud
        [datos]="{
          documento: doc,
          puntos: doc.puntos
        }"
        (eliminado)="eliminado($event)"
        (guardado)="guardado($event)"
      >
      </app-documento-crud>

      <app-punto-crud
        *ngFor="let punto of doc.puntos"
        [datos]="{
          documento: doc,
          punto: punto
        }"
      ></app-punto-crud>

      <hr />
    </div>
  </div>
</div>

<codice-modal [id]="idModalCrear">
  <div class="row">
    <div class="col-12">
      <h1>Crear documento</h1>
    </div>
  </div>
  <app-documento-crud
    [datos]="{ documento: nuevoDocumento, editando: true }"
    (guardado)="guardado($event)"
  >
  </app-documento-crud>
</codice-modal>

<ng-template #precarga>
  <div class="row fade-in">
    <div class="col-12">
      <h1 class="display-1 text-center">
        <i class="fas fa-sync fa-spin"></i>
      </h1>
    </div>
  </div>
</ng-template>

<ng-template #sinResultados>
  <p class="text-muted">
    <i class="fas fa-search text-danger"></i>
    No se encontraron coincidencias
  </p>
</ng-template>
