<nav>
  <ul class="pagination">
    <li class="page-item">
      <a
        (click)="cambiarPagina(-1)"
        class="page-link"
        href="javascript:void(0)"
      >
        <i
          *ngIf="!dp?.cargando; else sync"
          class="fas fa-arrow-alt-circle-left"
        ></i>
      </a>
    </li>

    <li class="m-3 m-3">{{ dp.paginaActual }} / {{ dp.cantidadDePaginas }}</li>
    <li class="page-item">
      <a (click)="cambiarPagina(1)" class="page-link" href="javascript:void(0)">
        <i
          *ngIf="!dp?.cargando; else sync"
          class="fas fa-arrow-circle-right"
        ></i>
      </a>
    </li>
    <li
      *ngFor="let p of dp.porPagina; let i = index"
      [ngClass]="{ active: p === dp.elementosPorPagina }"
      class="page-item"
      [title]="p + ' elementos por página'"
    >
      <a (click)="cambiarLimite(i)" class="page-link" href="javascript:void(0)">
        {{ p }}
      </a>
    </li>

    <li class="m-3 m-3">{{ dp.cantidadDePaginas }} en total</li>
  </ul>
</nav>

<ng-template #sync>
  <i class="fas fa-sync fa-spin"></i>
</ng-template>
