.mostrar-detalle {
  border: none;
  padding-left: 0%;
  pointer-events: none;
  border-color: #ccc;
}

textarea.nombre.mostrar-detalle {
  font-size: 30px;
}

textarea {
  resize: none;
  text-align: justify;
  white-space: pre-line;
  -moz-text-align-last: left;
  text-align-last: left;
}
