<form [id]="idGenerado" *ngIf="formulario && doc" [formGroup]="formulario">
  <div class="row">
    <!-- 
    =====================================
     nombre
    =====================================
    -->
    <div class="col-12 col-md-4">
      <div class="form-group">
        <small class="form-text text-muted">Nombre</small>
        <h3
          *ngIf="!editando"
          [innerHTML]="f('nombre').value | resaltarTerminos: doc['_nombre']"
          class="font-bolder"
        ></h3>
        <textarea
          *ngIf="editando"
          autosize
          [onlyGrow]="true"
          [minRows]="3"
          [ngClass]="{
            'is-invalid': vs.invalid(f('nombre')),
            'is-valid': vs.valid(f('nombre'))
          }"
          class="form-control documento-crud-elemento nombre"
          formControlName="nombre"
        ></textarea>

        <codice-validaciones [campo]="f('nombre')"></codice-validaciones>
      </div>
    </div>
    <!-- 
    =====================================
     END nombre
    =====================================
    -->

    <!-- 
    =====================================
     descripcion
    =====================================
    -->
    <div class="col-12 col-md-6">
      <div class="form-group">
        <small class="form-text text-muted">Descripción</small>
        <div
          *ngIf="!editando"
          [innerHTML]="
            f('descripcion').value | resaltarTerminos: doc['_descripcion']
          "
          class="justify"
        ></div>

        <textarea
          *ngIf="editando"
          autosize
          [onlyGrow]="true"
          [minRows]="3"
          [ngClass]="{
            'is-invalid': vs.invalid(f('descripcion')),
            'is-valid': vs.valid(f('descripcion'))
          }"
          class="form-control documento-crud-elemento"
          formControlName="descripcion"
          cols="30"
        ></textarea>
        <codice-validaciones [campo]="f('descripcion')"></codice-validaciones>
      </div>
    </div>
    <!-- 
    =====================================
     END descripcion
    =====================================
    -->

    <div class="col-12 col-md-2">
      <a
        *ngIf="!editando || ('' | tienePermiso)"
        (click)="editar()"
        class="btn ms-1 btn-outline-primary"
        href="javascript:void(0)"
        role="button"
      >
        <i *ngIf="!cargando; else sync" class="fas fa-edit"></i
      ></a>

      <a
        *ngIf="editando || ('' | tienePermiso)"
        (click)="guardar(formulario.value, formulario.invalid)"
        class="btn ms-1 btn-outline-success"
        href="javascript:void(0)"
        role="button"
      >
        <i *ngIf="!cargando; else sync" class="fas fa-save"></i
      ></a>
      <a
        *ngIf="this.datos?.documento?._id || '' | tienePermiso"
        (click)="eliminar()"
        class="btn ms-1 btn-outline-danger"
        href="javascript:void(0)"
        role="button"
      >
        <i *ngIf="!cargando; else sync" class="fas fa-times-circle"></i
      ></a>

      <a
        *ngIf="this.datos?.documento?._id"
        (click)="leer()"
        class="btn ms-1 btn-outline-secondary"
        href="javascript:void(0)"
        role="button"
      >
        LEER
        <i *ngIf="!cargando; else sync" class="fas fa-book"></i
      ></a>
    </div>
  </div>
</form>

<ng-template #sync>
  <i class="fas fa-sync fa-spin"></i>
</ng-template>
